<!DOCTYPE html>
<html lang="en">

<head>
	<title>Login V4</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="https://social-simplicity-21.herokuapp.com/assets/images/logosmall.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
    <style>

        @font-face {
  font-family: Poppins-Bold;
  src: url('fonts/poppins/Poppins-Bold.ttf'); 
}

        .cards-list {
  z-index: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  cursor: pointer;
  transition: 0.4s;
}

.card .card_image {
  width: inherit;
  height: inherit;
  border-radius: 40px;
}

.card .card_image img {
  width: inherit;
  height: inherit;
  border-radius: 40px;
  object-fit: cover;
}

.card .card_title {
  text-align: center;
  border-radius: 0px 0px 40px 40px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 30px;
  font-family: Poppins-Bold;
  margin-top: -80px;
  height: 40px;
}

.card:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.title-white {
  color: white;
}

.title-black {
  color: black;
}

@media all and (max-width: 500px) {
  .card-list {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
  }
}


/*
.card {
  margin: 30px auto;
  width: 300px;
  height: 300px;
  border-radius: 40px;
  background-image: url('https://i.redd.it/b3esnz5ra34y.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-repeat: no-repeat;
box-shadow: 5px 5px 30px 7px rgba(0,0,0,0.25), -5px -5px 30px 7px rgba(0,0,0,0.22);
  transition: 0.4s;
}
*/
    </style>
</head>

<body style="background-image: url('../login/images/bg-01.jpg');  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;">
<span style="margin-bottom:30px;margin-top:30px;border-radius:10px; padding:20px;text-align:center;  display: block;
  font-family: Poppins-Bold;
  font-size: 55px;
  color: #dddddd;
  line-height: 1.2;
  text-align: center;">Set Up / Modify</span>
<div class="cards-list">
  
<div class="card 1" onclick="alert('Support coming soon!')" style="background-color:transparent">
  <div class="card_image"> <img src="https://logodownload.org/wp-content/uploads/2014/09/twitter-logo-1-1.png" /> </div>
  <div class="card_title title-black">
    <p>Twitter</p>
  </div>
</div>

<div class="card 2" style="background-color:transparent" onclick="window.location = '../signin'">
  <div class="card_image">
    <img src="https://trueinteractive.com/wp-content/uploads/2019/11/new-instagram-logo-png-transparent.png" />
    </div>
  <div class="card_title title-black">
    <p>Instagram</p>
  </div>
</div>

<div class="card 3" onclick="alert('Support coming soon!')" style="background-color:transparent">
  <div class="card_image">
    <img src="https://media.giphy.com/media/10SvWCbt1ytWCc/giphy.gif" />
  </div>
  <div class="card_title">
    <p>Coming Soon!</p>
  </div>
</div>
  
  <div class="card 4" onclick="alert('Support coming soon!')" style="background-color:transparent">
  <div class="card_image">
    <img src="https://media.giphy.com/media/LwIyvaNcnzsD6/giphy.gif" />
    </div>
  <div class="card_title title-black">
    <p>Coming Soon!</p>
  </div>
  </div>

</div>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-analytics.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.6/firebase-auth.js"></script>

<script>
  // Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "AIzaSyA-uWZPymTgsHZtt457Fbb6FpfqXA4IVb0",
    authDomain: "hacklahoma-proj.firebaseapp.com",
    databaseURL: "https://hacklahoma-proj-default-rtdb.firebaseio.com",
    projectId: "hacklahoma-proj",
    storageBucket: "hacklahoma-proj.appspot.com",
    messagingSenderId: "745802510134",
    appId: "1:745802510134:web:0076e26b3fc5a6f8c58d97",
    measurementId: "G-F6WZYN53T5"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();

    firebase.auth().onAuthStateChanged((user) => {
        if (user) {
            console.log(user.uid);
        } else {
            window.location = "{{DOMAIN}}"
        }
    });
</script>



</body>

</html>