<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Social Simplicity</title>
    <meta name="description" content="A tool to make social media easier to manage"/>
  </head>

  <body>
    <h1>{txt}</h1>
  </body>
</html>